{block #content}
	<header class="secondary-header" style="background-image: url('{$basePath}/dist/img/header/tri_header.jpg')">
	</header>

	<section class="new-page">
		<div class="container">
			<h1 n:block="title">Aktualita</h1>
		</div>
	</section>
{/block}
