{block #content}
	<header class="secondary-header" style="background-image: url('{$basePath}/dist/img/header/sitemap_header2.jpg')">
	</header>
	<section class="page-section about-page">
		<div class="container">
			<h1 n:block="title">Napsali o nás</h1>

			<div class="wrote-about-us">
				<div class="year">
					<h4>2020</h4>
					<ul>
						<li><a href="http://www.ohremedia.cz/clanek/10853-vydareny-sedmy-rocnik-hopman-triatlonu" target="_blank">Vydařený sedmý ročník Hopman triatlonu</a></li>
						<li><a href="https://www.ladermon.cz/hopman-sprint-triatlon" target="_blank">Hopman sprint triatlon</a></li>
						<li><a href="http://www.ohremedia.cz/clanek/10448-zatecka-desitka-a-pulmaraton-letos-v-netradicni-forme" target="_blank">Žatecká desítka a půlmaratón letos v netradiční formě</a></li>
						<li><a href="http://www.bohemiahop.cz/cz/novinky/331-hopman-1-2-maraton-2020" target="_blank">Hopman 1/2 maraton 2020</a></li>
						<li><a href="http://www.ohremedia.cz/clanek/10642-hopman-triatlon-na-nechranicke-prehrade-bude" target="_blank">Hopman triatlon na Nechranické přehradě bude!</a></li>
					</ul>
				</div>

				<div class="year">
					<h4>2019</h4>
					<ul>
						<li><a href="http://www.bohemiahop.cz/cz/novinky/270-hopman-team-v-alsasku" target="_blank">Hopman team v Alsasku</a></li>
						<li><a href="https://www.koloshop.cz/blog/ladky-olympijsky-triatlon/" target="_blank">Laďky Olympijský triatlon</a></li>
						<li><a href="http://www.ohremedia.cz/clanek/9008-hopman-triatlon-poseste" target="_blank">Hopman triatlon pošesté</a></li>
						<li><a href="https://jiricipra.webnode.cz/news/hopman-duatlon-zatec-podruhe/" target="_blank">Hopman duatlon Žatec podruhé</a></li>

					</ul>
				</div>

				<div class="year">
					<h4>2018</h4>
					<ul>
						<li><a href="https://www.elabteam.cz/palava-race-hopman-triatlon-triatlon-talin-2018/" target="_blank">Pálava Race, Hopman triatlon a Triatlon Tálín 2018</a></li>
						<li><a href="https://jiricipra.webnode.cz/news/hopman-duatlon-zatec-podruhe/" target="_blank">Hopman duatlon Žatec podruhé</a></li>
						<li><a href="https://zatecky.denik.cz/zpravy_region/2018_04_15_zatec_pulmaraton.html" target="_blank">FOTO: Žatecký půlmaraton opět lákal, běžci obdivovali krásy přírody podél Ohře</a></li>
					</ul>
				</div>

				<div class="year">
					<h4>2017</h4>
					<ul>
						<li><a href="https://zatecky.denik.cz/ostatni_region/stovky-bezcu-se-opet-vydaji-do-historickeho-a-vyzdobeneho-centra-zatce-20171101.html" target="_blank">Stovky běžců se opět vydají do historického a vyzdobeného centra Žatce</a></li>
						<li><a href="http://xfit.cz/kam-zajit-na-zajimavy-triatlon-v-cr/" target="_blank">Kam zajít na zajímavý triatlon v ČR?</a></li>
						<li><a href="http://www.etriatlon.cz/triatlon/49577_zavody_hopman_triatlon_orka_triatlon_a_hus_muz_znaji_sve.html" target="_blank">Závody Hopman triatlon, Orka triatlon a HUS MUŽ znají své vítěze</a></li>
						<li><a href="http://kolpek.blogspot.cz/2017/07/hopman-triatlon-2017-12-ironman.html" target="_blank">Report ze závodu od Václava Kolpeka</a></li>
						<li><a href="http://www.mujprvnitriatlon.cz/novinky/hopman-triatlon" target="_blank">Hopman triatlon se povedl a vyprodal kapacitu!</a></li>
						<li><a href="http://zatecky.denik.cz/zpravy_region/hopman-triatlon-nechranice-20170706.html" target="_blank">Na Nechranicích se v sobotu koná Hopman triatlon</a></li>
						<li><a href="http://www.e-lounsko.cz/zpravy/co-se-chysta/9473-v-zatci-se-uskutecni-hopman-duatlon-prihlasit-on-line-se-muzete-do-patku" target="_blank">V Žatci se uskuteční Hopman duatlon, přihlásit on-line se můžete do pátku</a></li>
						<li><a href="http://www.svetbehu.cz/zavody/31576-na%C2%A0zateckem-pulmaratonu-dominovali-flegl-a-bulecova/" target="_blank">Na Žateckém půlmaratonu dominovali Flégl a Bulecová + FOTKY ZÁVODNÍKŮ ZDARMA KE STAŽENÍ</a></li>
					</ul>
				</div>

				<div class="year">
					<h4>2016</h4>
					<ul>
						<li><a href="http://elabteam.cz/medailove-zne-v-zatci/" target="_blank">Medailové žně v Žatci!</a></li>
						<li><a href="http://brynda.it-poradce.cz/clanky/hopman-triatlon/" target="_blank">Report ze závodu od Jardy Bryndy</a></li>
						<li><a href="http://www.zateckypivovar.cz/cs/aktuality/HOPMAN-Triatlon-972016__s681x7543.html" target="_blank">HOPMAN Triatlon - Žatecký pivovar</a></li>
						<li><a href="http://zatecky.denik.cz/ostatni_region/hopman_triatlon_20160720.html" target="_blank">Hopman triatlonu vládly nelehké podmínky</a></li>
						<li><a href="http://zatecky.denik.cz/zpravy_region/pulmaraton_beh_zatec_zavod_20160419.html" target="_blank">OBRAZEM: Čtyři sta běžců se vydalo proti proudu Ohře</a></li>
					</ul>
				</div>

				<div class="year">
					<h4>2015</h4>
					<ul>
						<li><a href="http://zatecky.denik.cz/ostatni_region/2015_12_01_adventni_beh_zatec.html" target="_blank">Dvě stě padesát běžců slavilo v Žatci začátek adventu</a></li>
						<li><a href="http://zatecky.denik.cz/ostatni_region/adventni_beh_zatec_20151127.html" target="_blank">O Adventní běh je velký zájem, další závodníky už pořadatelé odmítají</a></li>
						<li><a href="http://www.bezvabeh.cz/clanek/5238-hopman-adventni-beh-zatec-29-11-2015-6-6-km" target="_blank">HOPMAN ADVENTNÍ BĚH ŽATEC</a></li>
						<li><a href="http://zatecky.denik.cz/ostatni_region/zatec-adventni-beh-20151123.html" target="_blank">V Žatci se připravuje Adventní běh, už nyní je přihlášeno 243 závodníků</a></li>
						<li><a href="http://aceskv.cz/2015/07/12/hopman-triatlon-2/" target="_blank">Aces Team Karlovy Vary - Hopman triatlon</a></li>
						<li><a href="http://www.jakublanghammer.cz/?article=hopman-12-ironman-2015" target="_blank">Report ze závodu od Jakuba Langhammera</a></li>
						<li><a href="https://www.facebook.com/martin.study/media_set?set=a.1691126217785572.1073741867.100006646296211&type=3&pnref=story&__mref=message_bubble" target="_blank">Martin Student - Hopman 2015</a></li>
						<li><a href="http://zatecky.denik.cz/ostatni_region/nechranice_triatlon_20150715.html" target="_blank">Na Nechranické přehradě se v sobotu závodilo v triatlonu</a></li>
					</ul>
				</div>

				<div class="year">
					<h4>2014</h4>
					<ul>
						<li><a href="http://www.postoloprty.cz/hopman-2014/d-6199" target="_blank">Triatlonisté měli premiéru v aquatlonu.</a></li>
						<li><a href="http://www.plavanizatec.cz/index.php?Co=ZavDetail&Akc=Edi&UnC=421" target="_blank">Hopman aquatlon 2014</a></li>
						<li><a href="http://zatecky.denik.cz/ostatni_region/aquatlon_zatec_zavody_20141106.html" target="_blank">V sobotu se v Žatci chystá aquatlon</a></li>
						<li><a href="http://www.plavanizatec.cz/index.php?Co=ZavDetail&Akc=Edi&UnC=415" target="_blank">Hopman triatlon 2014</a></li>
					</ul>
				</div>
			</div>
		</div>
	</section>
{/block}
