{block #content}
	<header class="secondary-header" style="background-image: url('{$basePath}/dist/img/header/tri_header.jpg')">
	</header>
	<section class="archive-page">
		<div class="container">
			<h1 n:block="title">Hopman archiv</h1>
		</div>
	</section>
{/block}
