{block #content}
	<header class="secondary-header" style="background-image: url('{$basePath}/dist/img/header/sitemap_header2.jpg')">
	</header>
	<section class="page-section members-page">
		<div class="container">
			<h1 n:block="title">Členové teamu</h1>
		</div>
	</section>
{/block}
