{block #content}
	{block #og}
		<meta property="og:title" content="{$event->name} | HOPMAN">
		<meta property="og:url" content="{$baseUrl}{plink this}" />
		<meta property="og:type" content="website">
		<meta property="og:image" content="{$baseUrl}/{ifset $event->og_image}{$event->og_image}{else}{$vars->og_image}{/ifset}">
		<meta property="og:description" content="
		{ifset $event->description}
			{$event->description|truncate:100}
		{else}
			{$vars->description}
		{/ifset}">
	{/block}

	<header class="secondary-header" style="background-image: url('{$basePath}/{$event->header_image}')">
	</header>
	<div class="container">
		{if $event->slug === 'pulmaraton'}
		<nav class="nav event-nav">
		  <a class="nav-link scroll" n:href="Event:#propozice $event->slug"><i class="fas fa-file"></i> Propozice</a>
		  <a class="nav-link" n:href="Event:registration $event->slug"><i class="fas fa-file-signature"></i> Registrace</a>
		  <a class="nav-link" n:href="Event:startlist $event->slug"><i class="fas fa-users"></i> Startovní listina</a>
		  <a class="nav-link scroll" n:href="Event:#vysledky $event->slug"><i class="fas fa-trophy"></i> Výsledky</a>
		  <a class="nav-link disabled" href="#" aria-disabled="true"><i class="fas fa-images"></i> Galerie</a>
		  <a class="nav-link disabled" href="#" aria-disabled="true"><i class="fas fa-map"></i> Mapy</a>
		</nav>
		{else}
		<nav class="nav event-nav">
		  <a class="nav-link disabled" href="#" aria-disabled="true"><i class="fas fa-file"></i> Propozice</a>
		  <a class="nav-link disabled" href="#" aria-disabled="true"><i class="fas fa-file-signature"></i> Registrace</a>
		  <a class="nav-link disabled" href="#" aria-disabled="true"><i class="fas fa-users"></i> Startovní listina</a>
		  <a class="nav-link disabled" href="#" aria-disabled="true"><i class="fas fa-trophy"></i> Výsledky</a>
		  <a class="nav-link disabled" href="#" aria-disabled="true"><i class="fas fa-images"></i> Galerie</a>
		  <a class="nav-link disabled" href="#" aria-disabled="true"><i class="fas fa-map"></i> Mapy</a>
		</nav>
		{/if}
	</div>
	<section class="page-section event-page">
		<div class="container">

			<h1 n:block="title">{$event->name}</h1>

			<div class="event-sections">
				<section id="propozice">
					<h3>Propozice</h3>
					{if $event->propositions_active}
						<p>Datum konání: <time datetime="{$event->date|date:"Y-m-d"}">{$event->date|weekDay}, {$event->date|dayMonth}</time><br>
							Aktuální propozice pro letošní ročník.</p>
						<a href="{$basePath}/files/pulmaraton21.pdf" class="btn btn-outline-info my-2 mr-2"><i class="far fa-file-pdf"></i> {$event->name}</a>
						<a href="{$basePath}/files/pulmaraton21.docx" class="btn btn-outline-info my-2 mr-2"><i class="far fa-file-word"></i> {$event->name}</a>
					{else}
						<h6>Na přípravě propozic pro letošní ročník právě pracujeme.</h6>
					{/if}
				</section>

				<section id="registrace">
					<h3>Registrace</h3>
					{if $event->registration_active}
						<p>Online registrace byla spuštěna a je v plném proudu!<br>
							{if $event->registration_active_till}
								Formulář bude aktivní do
								<time datetime="{$event->registration_active_till|date:"Y-m-d"}">{$event->registration_active_till|dateTime} ({$event->registration_active_till|weekDay})</time> nebo do naplnění kapacity závodu.
							{/if}</p>
						<a n:href="Event:registration $event->slug" class="btn btn-primary">Chci se zaregistrovat!</a>
					{else}
						<h6>Právě teď není možné se zaregistrovat. Buď se online registrace pro tento rok ještě nespustila a nebo už je po závodě.</h6>
					{/if}
				</section>

				<section id="startovni-listina">
					<h3>Startovní lístina</h3>
					{if $event->startlist_active}
						<p>Celkem je přihlášeno <strong>{$participants} závodníků</strong>.<br>
							Z toho {$participantsMan} mužů a {$participantsWoman} žen.</p>
						<a n:href="Event:startlist $event->slug" class="btn btn-primary">Zobrazit startovní listinu</a>
					{else}
						<h6>Startovní listina není dostupná. Online registrace se pro tento rok ještě nespustila a nebo už je po závodě.</h6>
					{/if}
				</section>

				<section id="vysledky">
					<h3>Výsledky</h3>
					{if $results}
						{foreach $results as $result}
							<a href="{$basePath}/upload/files/{$event->slug}/vysledky/{$result->path}" target="_blank" class="my-2 mr-2 btn btn-outline-info">
								<i n:if="$result->type == 'pdf'" class="far fa-file-pdf"></i>
								<i n:if="$result->type == 'docx'" class="far fa-file-word"></i>
								<i n:if="$result->type == 'xlsx'" class="far fa-file-excel"></i>
								{$result->name|slice: ($event->slug|length)}</a>
						{/foreach}
					{else}
						<h6>V přípravě</h6>
					{/if}
				</section>

				<section id="galerie">
					<h3>Galerie</h3>
					{ifset $galleries}
						<p>Fotografie z roku {$event->gallery_year}</p>
						<div class="last-year-event-galleries">
							<div class="galerie">
								{foreach $galleries as $gallery}
									<article>
										<a href="{$gallery->link}" target="_blank">
											<img src="{$basePath}/upload/eventGalleries/{$gallery->id}/{$gallery->cover}" alt="{$gallery->event->name} - {$gallery->name}">
										</a>
									</article>
								{/foreach}
							</div>
						</div>
						<a n:href="Event:gallery $event->slug" class="mt-4 btn btn-primary">Zobrazit celou galerii</a>
					{else}
						<h6>V přípravě</h6>
					{/ifset}
				</section>

				<section id="mapy">
					<h3>Mapy</h3>
					{ifset $maps}
						<div class="maps-gallery">
							{foreach $maps as $map}
								<a href="{$basePath}/upload/galleries/{$event->maps_folder_id}/{$map->name}" data-lightbox="maps-gallery" data-name="{$map->name}">
									<img src="{$basePath}/upload/galleries/{$event->maps_folder_id}/thumbs/{$map->name}" class="lazyload" alt="{$map->title}">
								</a>
							{/foreach}
						</div>
					{else}
						<h6>V přípravě</h6>
					{/ifset}
				</section>

				<aside n:ifset="$images" class="event-gallery">
					<div class="galerie">
						{foreach $images as $image}
							<a href="{$basePath}/upload/galleries/{$event->gallery_id}/{$image->name}" data-lightbox="gallery" data-name="{$image->name}">
								<img src="{$basePath}/upload/galleries/{$event->gallery_id}/thumbs/{$image->name}" class="lazyload" alt="{$image->title}">
							</a>
						{/foreach}
					</div>
				</aside>
			</div>
		</div>
	</section>
{/block}
