{block #content}
	<header class="secondary-header" style="background-image: url('{$basePath}/{$event->header_image}')">
	</header>

	<section class="page-section gallery-page">
		<div class="container">
			<h1 n:block="title">{$event->name} <small>Galerie</small></h1>
		</div>
	</section>
{/block}
