{block #content}
	{block #og}
		<meta property="og:title" content="{$competition->name} - registrace | HOPMAN">
		<meta property="og:url" content="{$baseUrl}{plink this}" />
		<meta property="og:type" content="website">
		<meta property="og:image" content="{$baseUrl}/{ifset $event->og_image}{$event->og_image}{else}{$vars->og_image}{/ifset}">
		<meta property="og:description" content="
		{ifset $event->description}
			{$event->description|truncate:100}
		{else}
			{$vars->description}
		{/ifset}">
	{/block}

	<header class="secondary-header" style="background-image: url('{$basePath}/dist/img/header/{$event->header_image}')">
	</header>

	<section class="page-section registration-page">
		<div class="container">

			<a n:href="Event: $event->slug" class="btn btn-nobg-secondary mb-3"><i class="fas fa-angle-left"></i> Zpět na stránku závodu</a>

			<div n:if="sizeof($competitions) > 1" class="choose-form-btns mb-3">
				{foreach $competitions as $comp}
				<a n:href="Event:registration $comp->slug" class="{if $comp->slug === $competition->slug}active {/if}chooseForm" {ifset $comp->cover}style='background: url("../{$comp->cover|noescape}") no-repeat; background-size: cover; background-position: top;'{/ifset}>
					<h4>{$comp->name}</h4>
				</a>
				{/foreach}
			</div>

			<!-- Modal -->
			{snippet registrationFormFlash}
                {foreach $flashes as $flash}
                    {if $flash->type === 'success'}
                        <div class="modal fade" id="registeredModal" tabindex="-1" role="dialog" aria-labelledby="registeredModalTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title" id="registeredModalLongTitle">Registrace proběhla úspěšně!</h4>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        {$flash->message}
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Zpět k formuláři</button>
                                        <a n:if="$event->startlist_active" n:href="Event:startlist $competition->slug" class="btn btn-primary">Zobrazit startovní listinu</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {else}
                        <div class="alert alert-{$flash->type} alert-dismissible fade show" style="max-width: 600px" role="alert">
                            {$flash->message}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {/if}
                {/foreach}
            {/snippet}

			<h1 n:block="title">{$competition->name}</h1>
			<h3>Registrace k závodu</h3>

			{if !$event->registration_active}
				<h4>Online registrace na tento závod není aktivní.</h4>
			{else}
				{include 'Registrations/' . $competition->type . '.latte'}
			{/if}
		</div>
	</section>

{block #scripts}
{*    <script src="{$basePath}/scripts/netteForms.js"></script>*}
    <script src="https://www.google.com/recaptcha/api.js?render=explicit"></script>
	<script src="{$basePath}/scripts/invisibleRecaptcha.js"></script>
{/block}
