{block #content}
	{block #og}
		<meta property="og:title" content="{$competition->name} - startovní listina | HOPMAN">
		<meta property="og:url" content="{$baseUrl}{plink this}" />
		<meta property="og:type" content="website">
		<meta property="og:image" content="{$baseUrl}/{ifset $event->og_image}{$event->og_image}{else}{$vars->og_image}{/ifset}">
		<meta property="og:description" content="
		{ifset $event->description}
			{$event->description|truncate:100}
		{else}
			{$vars->description}
		{/ifset}">
	{/block}

	<header class="secondary-header" style="background-image: url('{$basePath}/dist/img/header/{$event->header_image}')">
	</header>

	<section class="page-section results-page">
		<div class="container">
			<a n:href="Event: $event->slug" class="btn btn-nobg-secondary mb-3"><i class="fas fa-angle-left"></i> Zpět na stránku závodu</a>
			<h1 n:block="title">{$competition->name}</h1>
			<h3>Startovní listina</h3>
			{if !$event->startlist_active}
				<h3>Startovní listina není aktivní.</h3>
			{else}
				<div class="datagrid-responsive table-responsive">
                	{control "startlistGrid-$competition->id"}
				</div>
			{/if}
		</div>
	</section>
{/block}