{block #content}
	{block #og}
		<meta property="og:title" content="{$event->name} - startovní listina | HOPMAN">
		<meta property="og:url" content="{$baseUrl}{plink this}" />
		<meta property="og:type" content="website">
		<meta property="og:image" content="{$baseUrl}/{ifset $event->og_image}{$event->og_image}{else}{$vars->og_image}{/ifset}">
		<meta property="og:description" content="
		{ifset $event->description}
			{$event->description|truncate:100}
		{else}
			{$vars->description}
		{/ifset}">
	{/block}

	<header class="secondary-header" style="background-image: url('{$basePath}/dist/img/header/{$event->header_image}')">
	</header>

	<section class="page-section results-page">
		<div class="container">
			<a n:href="Event: $event->slug" class="btn btn-outline-secondary mb-3"><i class="fas fa-angle-left"></i> Zpět na stránku závodu</a>
			<h1 n:block="title">{$event->name}</h1>
			<h3>Startovní listina</h3>
			{if $event->slug != 'pulmaraton'}
				<h3>Stránka je právě v tvorbě</h3>
			{else}
				<div n:ifset="$competitors" class="table-responsive-lg">
					<table class="table">
						<thead>
						<tr>
							<th scope="col">#</th>
							<th scope="col">Jméno</th>
							<th scope="col">Příjmení</th>
							<th scope="col">Rok narození</th>
							<th scope="col">Pohlaví</th>
							<th scope="col">Oddíl/město</th>
							<th scope="col">Kategorie</th>
							<th scope="col">Trať</th>
						</tr>
						</thead>
						<tbody>
						{foreach $competitors as $competitor}

						<tr>
							<td>{$competitor->id}</td>
							<td>{$competitor->name}</td>
							<td>{$competitor->surname}</td>
							<td>{$competitor->year_of_birth}</td>
							<td>{$competitor->sex}</td>
							<td>{$competitor->team}</td>
							<td>{($competitor->category_id) ? $competitor->category->name : '---'}</td>
							<td>{$competitor->distance}</td>
						</tr>

						{/foreach}
						</tbody>
					</table>
				</div>
			{/if}
		</div>
	</section>
{/block}
