php:
	date.timezone: Europe/Prague
	output_buffering: 4096

application:
	errorPresenter: Front:Error
	mapping:
		*: App\*Module\Presenters\*Presenter

services:
	router: App\RouterFactory::createRouter()
	repository: App\Service\ProjectModelRepository
	- App\Model\EventModel

parameters:
	customTemplatesDir: %appDir%/FrontModule/templates/
	admin:
		menu:
			Závody: [':Admin:Event:', run]

migrations:
	driver: mysql
	dbal: nette
	withDummyData: %debugMode%
	groups:
		custom.structure:
			directory: %appDir%/migrations/structure
		custom.data:
			directory: %appDir%/migrations/data
		custom.data.basic:
			directory: %appDir%/migrations/data/basic
