php:
	date.timezone: Europe/Prague
	output_buffering: 4096

application:
	errorPresenter: Front:Error
	mapping:
		*: App\*Module\Presenters\*Presenter

services:
	router: App\RouterFactory::createRouter()
	repository: App\Service\ProjectModelRepository
	# Grids
	- App\AdminModule\Grid\MemberGridFactory
	- App\AdminModule\Grid\EventGalleryGridFactory
	- App\Model\EventModel
	- App\Model\MemberModel
	- App\Model\CompetitionModel
	- App\Model\CompetitorModel
	- App\Model\EventCategoryModel
	- App\Model\EventGalleryModel
	- App\Model\EventRecordModel
	- App\Model\EventStatusModel
	admin.dashboard.eventpanel: App\AdminModule\Dashboard\EventPanel\EventPanelFactory

parameters:
	customTemplatesDir: %appDir%/FrontModule/templates/
	admin:
		menu:
			Závody: [':Admin:Event:', run]
			Fotky ze závodů: [':Admin:EventGallery:', image-multiple]
			Členové: [':Admin:Member:', account-group]
		dashboard:
				EventPanel:
					service: admin.dashboard.eventpanel
					size: 3
					order: 50

extensions:
    dateFilterExtension: h4kuna\DateFilter\DI\DateFilterExtension
    recaptcha: Contributte\ReCaptcha\DI\ReCaptchaExtension

migrations:
	driver: mysql
	dbal: nette
	withDummyData: %debugMode%
	groups:
		custom.structure:
			directory: %appDir%/migrations/structure
		custom.data:
			directory: %appDir%/migrations/data
		custom.data.basic:
			directory: %appDir%/migrations/data/basic
