{block #title}
	<i class="icon mdi mdi-image-multiple"></i> Fotky ze závodů
{/block}

{block #buttons}
	<a n:href="edit" class="btn btn-success">Přidat galerii</a>
{/block}

{block content}
	<div class="m-admin-fix bg-white pb-2">
		{control eventGalleryGrid}
	</div>
{/block}
