{block #title}
	<i class="icon mdi mdi-pencil"></i> Aktuality - přejmenování souborů
{/block}

{block #buttons}
	<a n:href="default" class="btn btn-light">Zpět</a>
{/block}

{block content}
	<div class="m-admin-fix bg-white pb-2">
		{control uploadedFilesGrid}
	</div>
{/block}
