/* nunito-300 - latin-ext */
@font-face {
	font-family: 'Nunito';
	font-style: normal;
	font-weight: 300;
	src: url('../../fonts/nunito-v16-latin-ext-300.eot'); /* IE9 Compat Modes */
	src: local(''),
	url('../../fonts/nunito-v16-latin-ext-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../../fonts/nunito-v16-latin-ext-300.woff2') format('woff2'), /* Super Modern Browsers */
	url('../../fonts/nunito-v16-latin-ext-300.woff') format('woff'), /* Modern Browsers */
	url('../../fonts/nunito-v16-latin-ext-300.ttf') format('truetype'), /* Safari, Android, iOS */
	url('../../fonts/nunito-v16-latin-ext-300.svg#Nunito') format('svg'); /* Legacy iOS */
}
/* nunito-regular - latin-ext */
@font-face {
	font-family: 'Nunito';
	font-style: normal;
	font-weight: 400;
	src: url('../../fonts/nunito-v16-latin-ext-regular.eot'); /* IE9 Compat Modes */
	src: local(''),
	url('../../fonts/nunito-v16-latin-ext-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../../fonts/nunito-v16-latin-ext-regular.woff2') format('woff2'), /* Super Modern Browsers */
	url('../../fonts/nunito-v16-latin-ext-regular.woff') format('woff'), /* Modern Browsers */
	url('../../fonts/nunito-v16-latin-ext-regular.ttf') format('truetype'), /* Safari, Android, iOS */
	url('../../fonts/nunito-v16-latin-ext-regular.svg#Nunito') format('svg'); /* Legacy iOS */
}
/* nunito-700 - latin-ext */
@font-face {
	font-family: 'Nunito';
	font-style: normal;
	font-weight: 700;
	src: url('../../fonts/nunito-v16-latin-ext-700.eot'); /* IE9 Compat Modes */
	src: local(''),
	url('../../fonts/nunito-v16-latin-ext-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../../fonts/nunito-v16-latin-ext-700.woff2') format('woff2'), /* Super Modern Browsers */
	url('../../fonts/nunito-v16-latin-ext-700.woff') format('woff'), /* Modern Browsers */
	url('../../fonts/nunito-v16-latin-ext-700.ttf') format('truetype'), /* Safari, Android, iOS */
	url('../../fonts/nunito-v16-latin-ext-700.svg#Nunito') format('svg'); /* Legacy iOS */
}

/* varela-round-regular - latin-ext_latin */
@font-face {
	font-family: 'Varela Round';
	font-style: normal;
	font-weight: 400;
	src: url('../../fonts/varela-round-v13-latin-ext_latin-regular.eot'); /* IE9 Compat Modes */
	src: local(''),
	url('../../fonts/varela-round-v13-latin-ext_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('../../fonts/varela-round-v13-latin-ext_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
	url('../../fonts/varela-round-v13-latin-ext_latin-regular.woff') format('woff'), /* Modern Browsers */
	url('../../fonts/varela-round-v13-latin-ext_latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
	url('../../fonts/varela-round-v13-latin-ext_latin-regular.svg#VarelaRound') format('svg'); /* Legacy iOS */
}

// gender color
.fa-mars {
	color: $blue;
}

.fa-venus {
	color: $pink;
}

.btn-nobg-secondary {
	color: rgba($secondary, 0.7);
	transition: color .1s ease-in-out;
	padding-left: unset;
	padding-right: unset;

	&:focus {
		box-shadow: unset;
	}

	&:hover {
		color: $secondary;
	}
}

.btn-nobg-info {
	color: rgba($info, 0.9);
	transition: color .1s ease-in-out;
	padding-left: unset;

	&:focus {
		box-shadow: unset;
	}

	&:hover {
		color: $info;
	}
}

// ukraine ribbon
.ribbon-container {
	position: fixed;
	top: -80px;
	right: -20px;
	transform: translateX(45%);
	z-index: 1031;
}
.ribbon {
	display: block;
	position: relative;
	top: 60px;
	width: 100vw;
	height: 3vw;
	transform: rotate(45deg);
	background-image: url("data:image/svg+xml,%3Csvg class='flag' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1200 800'%3E%3Crect width='1200' height='800' fill='%23005BBB'/%3E%3Crect width='1200' height='400' y='400' fill='%23FFD500'/%3E%3C/svg%3E");
	background-size: auto;
	box-shadow: 0 0 8px rgba(0,0,0,0.5);
}

html, body {
	overflow-x: hidden;
	background: $gray-100;
	color: $gray-800;
	font-size: 16px;
	font-family: 'Nunito', sans-serif;
}

a {
	font-weight: 500;
}

h1, h2, h3, h4, h5, h6, .btn, .nav-link {
	font-family: 'Varela Round', serif;
}

h1 {
	font-size: 2rem;
	font-weight: 700;
}
h2 {
	font-size: 1.8rem;
	padding: 0 1.5rem;
}
h3 {
	font-size: 1.4rem;
}

h1, h2, h3 {
	color: $primary;
}


.main-header {
	position: relative;
	height: 250px;
	display: none;
	margin-top: 80px;
	z-index: 1;
	background: #0d0d0d;

	&:before {
		content: '';
		width: 100%;
		height: 100%;
		position: absolute;
		background: linear-gradient(to bottom, rgba($gray-900, .45), rgba($gray-900, .3));
		z-index: 2;
	}

	.carousel-inner, .carousel-item {
		height: 100%;
	}

	img {
		height: 100%;
		width: 100vw;
		object-fit: cover;
		object-position: center;
	}
}

.secondary-header {
	margin-top: 80px;
	position: relative;
	height: 150px;
	width: 100vw;
	margin-bottom: 1rem;
	background-size: cover;
	background-position: center;

	&:before {
		content: '';
		width: 100%;
		height: 100%;
		position: absolute;
		background: linear-gradient(to bottom, rgba($gray-900, .45), rgba($gray-900, .3));
		z-index: 2;
	}

}

.event-nav, .team-nav {
	border-radius: $border-radius;
	background: lighten($gray-200, 2%);
	margin-bottom: 1rem;
}

.event-sections {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 2rem;

	section {
		border-radius: $border-radius;
		padding: 1.5rem;
		background: darken($gray-100, 2.5%);

		h3 {
			margin-bottom: 1rem;
		}
	}
}

.signUpForm {
	max-width: 600px;

	#distance-info {
		display: none;
	}

	.input-hidden {
		width: 0;
		height: 0;
		visibility: hidden;
	}

	.agree-checkbox {
		label {
			display: grid;
			grid-template-columns: 16px auto;
			grid-column-gap: .6rem;

			.invalid-feedback {
				grid-column-start: 1;
				grid-column-end: 3;
			}
		}

		#frm-signUpForm-agree {
			width: 16px;
			height: 16px;
			align-self: center;
		}
	}
}

.navbar {
	background: $white;
	transition: all .25s ease-in-out;

	.nav-link {
		font-weight: 700;
		font-size: 1.1rem;
		border-radius: $btn-border-radius;
	}

	.navbar-brand {
		padding: 0;
		img {
			max-height: 60px;
			transition: all .25s ease-in-out;
		}
	}

	.container {
		z-index: 1032;
	}

	.navigation-toggler {
		display: flex;
		flex-direction: column;
		width: 50px;
		cursor: pointer;
		margin: 0;

		span{
			background: $primary;
			border-radius: calc(0.1px * 66.66);
			height: calc(0.07px * 66.66);
			margin: calc(0.07px * 66.66) 0;
			transition: .4s  cubic-bezier(0.68, -0.6, 0.32, 1.6);
		}

		span:nth-of-type(1){
			width:50%;
		}

		span:nth-of-type(2){
			width:100%;
		}

		span:nth-of-type(3){
			width:75%;

		}

		input[type="checkbox"]{
			display:none;
		}

		input[type="checkbox"]:checked ~ span:nth-of-type(1){
			transform-origin:bottom;
			transform:rotate(45deg) translate(calc(0.08px * 66.66),0px)
		}

		input[type="checkbox"]:checked ~ span:nth-of-type(2){
			transform-origin:top;
			transform:rotate(-45deg)
		}

		input[type="checkbox"]:checked ~ span:nth-of-type(3){
			transform-origin:bottom;
			width:50%;
			transform: translate(calc(0.3px * 66.66),calc(-0.11px * 66.66)) rotate(45deg);
		}
	}

}

.about-page {
	.wrote-about-us {
		margin-top: 1rem;
		display: grid;
		grid-template-columns: 1fr;
		grid-gap: 1rem;

		.year {
			border-radius: $border-radius;
			padding: 1.5rem;
			background: darken($gray-100, 2.5%);

			ul {
				padding-left: 1rem;

				li {
					margin-bottom: .5rem;
				}
			}
		}
	}
}

.progress-bar {
	display: none;
	position: absolute;
	z-index: 10;
	top: 380px;
	left: 0;
	height: 8px;
	width: 100%;

	&__fill {
		width: 0;
		height: inherit;
		background: lighten($primary, 7%);
		transition: all 0.16s;
	}
	&--primary {
		z-index: 2;
	}
}

article {
	position: relative;

	.news-badgelist {
		z-index: 1;
		position: absolute;
		top: 2.2rem;
		left: .8rem;
		display: none;
		width: calc(100% - 2rem);
		flex-wrap: wrap;
		justify-content: flex-start;
		align-items: flex-start;
	}

	.badgelist {
		z-index: 1;
		position: absolute;
		top: 1rem;
		left: 1rem;
		display: none;
		width: calc(100% - 2rem);
		flex-wrap: wrap;
		justify-content: flex-start;
		align-items: flex-start;
	}

	.badge {
		cursor: unset;
		display: inline-block;
		text-transform: uppercase;
		font-size: .9rem;
		letter-spacing: .1rem;
		padding: .35rem .5rem;
		border-radius: $border-radius * 2;
		margin: 0 .35rem .35rem 0;
		background: rgba($gray-700, .6);
		color: $white;
	}
}

.upcoming-events {
	margin-top: 80px;
	padding-top: 2rem;
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 1.5rem;


	.halfmarathon, .triathlon, .advent {
		padding: 0;
		background-color: lighten($gray-100, 4%);
		border-radius: 0 0 $border-radius $border-radius;


		section {
			width: 100%;
			padding: 1.5rem;
			display: flex;
			flex-direction: column;
			align-items: center;
		}

		img {
			border-radius: $border-radius $border-radius 0 0;
			width: 100%;
			object-fit: cover;
			max-height: 180px;
		}

		h3 {
			margin: 0 0 .3rem 0;
			padding: 0;
			font-size: 1.4rem;
			color: $gray-900;
			font-weight: 700;
		}

		time {
			margin: 0;
		}


		.status {
			span {
				color: $white;
				text-transform: uppercase;
				font-size: .9rem;
				padding: .1rem .5rem;
				margin: 0;
				border-radius: .2rem;
			}
		}

		footer {
			margin-top: .8rem;
			width: 100%;
			text-align: center;

			a {
				transition: opacity .2s ease-in-out;
				width: 100%;
				max-width: 300px;
				margin: 0;
				padding: .7rem;
				background: linear-gradient(45deg, $primary, lighten($primary, 10%));
				opacity: .9;

				&:hover {
					opacity: 1;
				}
			}
		}
	}
}

.latest-news {

	.archive-link {
		margin-bottom: 1rem;
		margin-left: 1.5rem;
	}
}

.latest-news, .new-container {
	.btn {
		margin: .3rem 0;
	}
}

.article-list {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 3rem;

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		margin-bottom: 1rem;
		border-radius: $border-radius;
	}

	article {
		transition: all .2s ease-in-out;
		align-self: start;
		padding: 0 1.5rem;
		border-radius: $border-radius;

		.article-link {
			color: unset;

			&:hover {
				text-decoration: unset;
			}

			header {
				time {
					color: $gray-700;
				}
			}
		}

		section {
			transition: all .2s ease-in-out;
			padding: 0 2rem 0 0;
		}

		.news-badgelist {
			transition: all .2s ease-in-out;
		}

		&:hover {
			padding: 1rem;
			background: $gray-200;
			box-shadow: 0 3px 2px 2px rgba($gray-200, .2);

			.news-badgelist {
				top: 3.2rem;
				left: 1.8rem;
			}

			section {
				padding: 0;
			}
		}

		header, section {
			margin-bottom: .5rem;
		}

		.btn {
			margin-bottom: 0.2rem;
		}
	}
}

.pagination {
	padding: .3rem .5rem;
	margin: 1.5rem 0;
	display: inline-flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}

.new-page {
	display: flex;
	justify-content: center;
	flex-direction: column;

	.new-container {
		margin-bottom: 5rem;
		max-width: 800px;
		width: 100%;

		header {
			h1 {
				font-size: 2.6rem;
			}

			img {
				width: 100%;
				height: auto;
				margin: 1rem 0 2rem 0;
				border-radius: $border-radius;
			}
		}


		footer {
			display: none;
			//display: grid;
			margin-top: 4.5rem;
			grid-template-columns: 1fr 1fr;
			grid-gap: 1rem;

			img {
				width: 100%;
				max-height: 160px;
				object-fit: cover;
				height: auto;
				margin: .5rem 0;
			}
		}
	}
}

.sponsors, .hopman-numbers, .latest-news {
	h2 {
		margin-top: 2.5rem;
		margin-bottom: .5rem;
	}
}

.sponsor-list {
	padding: 2rem;
	background: $white;
	display: grid;
	grid-template-columns: 1fr 1fr;
	list-style-type: none;
	padding-left: unset;
	border-radius: $border-radius;

	&:hover img {
		filter: unset;
	}

	li {
		margin: 1rem;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}

	img {
		transition: all .25s ease-in-out;
		filter: grayscale(100%);
		max-width: 120px;
		max-height: 120px;

		&:hover {
			transform: scale(1.1);
		}
	}
}

.hopman-numbers-list {
	padding: 2rem;
	border-radius: $border-radius;
	background: $white;
	list-style-type: unset;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 1.5rem;

	li {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;

		svg {
			max-width: 70px;
			max-height: 70px;
		}

		h4 {
			text-transform: uppercase;
			text-align: center;
			font-size: 2.3rem;
			margin-top: 1rem;
			font-weight: 700;

			small {
				font-size: 1.1rem;
				display: block;
			}
		}
	}
}

.contact-list {
	margin: 1rem 0 2rem 0;
	list-style-type: none;
	padding-left: unset;
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 2rem;

	li {
		h2 {
			margin: .8rem 0 0 0;
			padding: 0;
			font-size: 1.7rem;
		}
		h3 {
			font-size: 1.1rem;
		}
		img {
			border-radius: $border-radius;
			max-width: 280px;
			width: 100%;
		}
		address {
			font-size: 1.2rem;

			h6 {
				margin: 1rem 0 0 0;
			}
			i {
				text-align: center;
				width: 20px;
				margin-right: .5rem;
			}
		}
	}
}

.page-section {
	padding: 0;
	margin-top: .5rem;
	margin-bottom: .5rem;
}

.event-page, .team-page {
	margin-top: unset;
}

#scrollTopBtn {
	display: none;
	position: fixed;
	bottom: 2rem;
	right: 2rem;
	z-index: 1000;

	i {
		color: $primary;
		font-size: 2.5rem;
	}
}

footer.main-footer {
	padding-left: 2rem;
	padding-right: 2rem;
	margin-top: 2rem;
	background: $gray-50;

	.container {
		padding: 2rem 0;
		align-self: start;
		display: grid;
		grid-template-columns: 1fr;
		grid-gap: 2rem;

		.footer-brand {
			padding: 0;

			img {
				margin-bottom: 10px;
				transition: all .2s ease-in-out;

				&:hover {
					transform: scale(1.05);
				}

			}
		}

		img {
			height: 60px;
			width: auto;
		}
		ul {
			list-style-type: none;
			padding-left: unset;
		}

		a {
			margin-left: unset;
			padding: .2rem .2rem .2rem 0;
		}

		.footer-races {
			display: grid;
			grid-template-columns: 1fr;

			ul {
				display: flex;
				justify-content: flex-start;
				align-items: flex-start;
				flex-direction: column;
				flex-wrap: wrap;

				li {
					padding: .2rem .2rem .2rem 0;
					margin: .1rem .1rem .1rem 0;
				}
			}
		}

		.footer-socials {

			ul {
				li {
					font-size: 1.1rem;
					padding: .4rem .4rem .4rem 0;

					i {
						font-size: 1.3rem;
						width: 30px;
						text-align: center;
						margin-right: .5rem;
					}
				}
			}
		}

		.footer-links {
			li {
				display: inline-block;
				margin: .2rem .2rem .2rem 0;
			}
		}
	}

	.author {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		padding: 2rem 0;
		background-color: lighten($gray-100, 3%);
		color: $gray-500;
		left: -2rem;
		width: 100vw;
		position: relative;

		svg {
			transition: all .2s ease-in-out;
			fill: $gray-500;
			display: block;
			margin-bottom: .7rem;
			width: 130px;
			height: auto;

			&:hover {
				fill: $gray-700;
			}
		}
	}
}

.galerie {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: .5rem;

	a {
		border-radius: $border-radius;
		transition: all .25s ease-in-out;
		filter: brightness(95%);
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;

		img {
			width: 100%;
			height: 100%;
			max-height: 220px;
			object-fit: cover;
			object-position: center;
			border-radius: $border-radius;
		}

		&:hover {
			z-index: 100;
			box-shadow: 0 0 10px 2px rgba($gray-600, .6);
			filter: brightness(105%);
			transform: scale(1.05);
		}
	}
}
.last-year-event-galleries {
	.galerie {
		grid-gap: 1rem;

		a {
			display: inline-block;
		}

		img {
			width: 100%;
			height: auto;
			max-width: 160px;
		}
	}
}
.event-galleries {

	.galerie {
		grid-template-columns: 1fr;
		grid-gap: 1rem;

		article {
			display: flex;
			flex-direction: row;
		}

		a {
			display: inline-block;
			margin-right: 1rem;
		}

		h3 {
			height: 50px;
			background: $white;
			margin-top: 1.5rem;
			border-radius: $border-radius;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100%;
			max-width: 300px;
			grid-column-start: 1;
			grid-column-end: 2;
		}

		img {
			width: 80px;
			height: 80px;
		}
	}
}

.news-gallery {
	margin: 1.5rem 0;
}

.maps-gallery {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: .5rem;

	a {
		transition: all .25s ease-in-out;
		filter: brightness(95%);
		display: flex;
		justify-content: center;
		align-items: center;

		img {
			width: 100%;
			height: 100%;
			max-height: 220px;
			object-fit: cover;
			object-position: center;
			border-radius: $border-radius;
		}

		&:hover {
			z-index: 100;
			box-shadow: 0 0 10px 2px rgba($gray-600, .6);
			filter: brightness(105%);
			transform: scale(1.05);
		}
	}
}

.event-gallery {
	margin: .5rem 0;
}

.carousel-caption {
	display: none !important;
}
.carousel-control {
	z-index: 2;
}

// carousel fade
.carousel-fade .carousel-item {
	opacity: 0;
	transition-duration: .8s;
	transition-property: opacity;
}

.carousel-fade .carousel-item.active,
.carousel-fade .carousel-item-next.carousel-item-left,
.carousel-fade .carousel-item-prev.carousel-item-right {
	opacity: 1;
}

.carousel-fade .active.carousel-item-left,
.carousel-fade .active.carousel-item-right {
	opacity: .0;
}

.carousel-fade .carousel-item-next,
.carousel-fade .carousel-item-prev,
.carousel-fade .carousel-item.active,
.carousel-fade .active.carousel-item-left,
.carousel-fade .active.carousel-item-prev {
	transform: translateX(0);
	transform: translate3d(0, 0, 0);
}

.gdpr {
	width: calc(100% - 2rem);
	max-width: 450px;
	position: fixed;
	right: 1rem;
	bottom: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	padding: 1.5rem;
	color: $darkgray;
	background-color: $white;
	z-index: 1000;
	border-radius: $border-radius;

	i {
		color: $brown;
		font-size: 1.5rem;
	}
}

.choose-form-btns {
	display: flex;
	flex-direction: column;

	.active {
		opacity: 1 !important;
	}

	.chooseForm {
		width: 100%;
		height: auto;
		min-height: 100px;
		margin-bottom: .7rem;
		padding: 1rem;
		max-height: 200px;
		border-radius: $border-radius;
		position: relative;
		z-index: 10;
		display: flex;
		justify-content: left;
		align-items: center;
		transition: all .25s ease-in-out;
		opacity: .7;

		&:hover {
			text-decoration: none;
			&::before {
				background: linear-gradient(to bottom right, rgba(darken($primary, 25%), .3), rgba($primary, .8));
			}
		}

		&::before {
			z-index: -1;
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			border-radius: $border-radius;
			background: linear-gradient(to bottom right, rgba($gray-900, .8), rgba($gray-900, 0));
			transition: all .25s ease-in-out;
		}

		h4 {
			color: $white;
		}
	}
}

.startlist-filters {
	border-radius: $border-radius;
	background: $gray-50;
	padding: 1rem;
	margin-bottom: 1rem;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;

	div {
		margin: .5rem;
	}
}
