@include media-breakpoint-up(sm) {
	h2 {
		padding: unset;
	}

	.navbar {
		.navbar-brand {
			img {
				max-height: 70px;
			}
		}
	}

	.main-headerm, .secondary-header {
		margin-top: 90px;
	}

	.article-list {
		article {
			padding: unset;
		}
	}

	.upcoming-events {
		grid-template-columns: 1fr 1fr;

		header {
			top: unset;
			height: unset;
			left: unset;
			position: relative;
			width: unset;
			padding: 2rem;
			text-align: center;
			border-radius: $border-radius;
			display: flex;
			z-index: 2;

			h1 {
				position: relative;
				margin-top: calc(180px - 2rem);
			}

			&:after {
				content: '';
				position: absolute;
				width: 100%;
				top: 0;
				height: 180px;
				background: url("../../img/hopman_serial.jpg");
				background-size: cover;
				background-position: center;
				z-index: -1;
				border-radius: $border-radius $border-radius 0 0;
			}
		}

		.halfmarathon, .triathlon, .advent {
			img {
				height: 180px;
			}
		}
	}


	.latest-news {
		.archive-link {
			margin-left: unset;
		}
	}

	.event-sections {
		grid-template-columns: 1fr 1fr;

		.event-gallery {
			grid-column-start: 1;
			grid-column-end: 3;
		}
	}
}

@include media-breakpoint-up(md) {
	h1 {
		font-size: 2.4rem;
	}
	h2 {
		font-size: 2.1rem;
	}
	h3 {
		font-size: 1.6rem;
	}

	.navbar {
		.navbar-brand {
			img {
				max-height: 80px;
			}
		}
	}
	.main-header, .secondary-header {
		margin-top: 100px;
		height: 250px;
	}

	.contact-list {
		grid-template-columns: 1fr 1fr;
	}


	.about-page {
		.wrote-about-us {
			grid-template-columns: 1fr 1fr;
		}
	}

	.upcoming-events {
		.halfmarathon, .triathlon, .advent {
			section {
				padding: 2rem;
			}
		}
	}

	.latest-news {
		.container {
			position: relative;
		}

		.archive-link {
			margin-bottom: unset;
			position: absolute;
			right: 1rem;
			top: 1rem;
		}
	}

	.article-list {
		grid-template-columns: 1fr 1fr;
	}

	.sponsor-list {
		grid-template-columns: 1fr 1fr 1fr;

		img {
			max-width: 150px;
			max-height: 150px;
		}
	}

	footer.main-footer {
		.container {
			grid-template-columns: 1fr 1fr;
		}
	}

	.galerie {
		grid-template-columns: 1fr 1fr 1fr 1fr;

		a {
			img {
				width: 100%;
				height: 220px;
			}
		}
	}


}

@include media-breakpoint-up(lg) {
	.carousel-control {
		display: none
	}

	.main-header {
		&:before {
			background: linear-gradient(to bottom, rgba($gray-900, .75), rgba($gray-900, .6));
		}
	}

	h1 {
		font-size: 2.6rem;
	}
	h2 {
		font-size: 2.2rem;
	}
	h3 {
		font-size: 1.7rem;
	}

	.event-sections {
		grid-template-columns: 1fr 1fr 1fr;

		//section {
		//	align-self: start;
		//}

		.event-gallery {
			grid-column-start: 1;
			grid-column-end: 4;
		}
	}

	.secondary-header {
		height: 350px;

		&:before {
			background: linear-gradient(to bottom, rgba($gray-900, .85), rgba($gray-900, .35));
		}
	}

	.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus {
		color: rgba($white, 1);
	}
	.navbar-dark .navbar-nav .nav-link {
		color: rgba($white, .9);
		letter-spacing: .03rem;
	}

	.progress-bar {
		display: block;
		margin: 0 15px;
		height: 5px;
		top: 0;
		border-radius: 0 $border-radius 0 0;
		width: calc(100% - 30px);
	}

	.main-header {
		margin-top: 0;
		position: absolute;
		height: 530px;
		z-index: 0;
	}

	.secondary-header {
		margin-top: 0;
	}

	.navbar {
		background: unset;
	}

	.navbar-bg {
		background: $white;
		box-shadow: 0 0 1px 1px rgba($gray-100, 8%);

		.navbar-brand img {
			max-height: 60px;
		}
		.nav-link {
			color: $darkgray !important;
			font-size: 1rem;

			&:hover {
				color: $gray-100 !important;
				background: $primary;
			}
		}
	}


	.upcoming-events {
		position: relative;
		margin-top: 400px;
		grid-template-columns: 1fr 1fr 1fr;
		grid-gap: 0;
		padding-top: unset;

		header {
			position: absolute;
			left: 15px;
			top: -70px;
			padding: 15px 30px;
			background: rgba($primary, .8);
			border-radius: $border-radius $border-radius 0 0;

			&:after {
				content: unset;
			}

			h1 {
				color: $white;
				font-size: 40px;
				line-height: 40px;
				margin: 0;
			}
		}

		.halfmarathon {
			border-radius: 0 0 0 $border-radius;
		}
		.triathlon {
			background-color: lighten($gray-100, 5%);
			border-radius: unset;
		}
		.advent {
			border-radius: 0 $border-radius $border-radius 0;
		}

		.halfmarathon, .triathlon, .advent {
			overflow: hidden;

			section {
				padding: 1.5rem;
			}

			h3 {
				font-size: 1.6rem;
			}

			a {
				img {
					filter: brightness(85%);
					transition: all .25s ease-in-out;
					border-radius: unset;
				}

				&:hover img {
					filter: brightness(105%);
				}
			}

			img {
				max-height: unset;
				height: 260px;
			}

			time {
				font-size: 1.2rem;
			}
		}
	}

	.article-list {
		grid-template-columns: 1fr 1fr 1fr;
		grid-gap: 2rem;
	}

	.new-page {
		.new-container {
			padding: 2.5rem;

			footer {
				a {
					img {
						filter: brightness(85%);
						transition: all .25s ease-in-out;
					}

					&:hover {
						text-decoration: unset;

						img {
							filter: brightness(105%);
						}
					}
				}
			}
		}
	}

	.sponsor-list {
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	}

	.contact-list {
		grid-template-columns: 1fr 1fr 1fr;
	}

	.hopman-numbers-list {
		grid-template-columns: 1fr 1fr 1fr 1fr;

		li {
			svg {
				max-width: 80px;
				max-height: 80px;
			}
		}
	}

	.page-section {
		padding: 3rem 0;
		margin-top: unset;
		margin-bottom: 3rem;
	}

	footer.main-footer {
		.container {
			grid-template-columns: 1fr 2fr 1fr;
			grid-gap: 2.5rem;

			.footer-races {
				margin-top: 70px;
				grid-template-columns: 1fr 1fr 1fr;
				grid-gap: 1.5rem;
			}

			.footer-socials {
				margin-top: 70px;
			}
		}
	}
}

@include media-breakpoint-up(xl) {

	h1 {
		font-size: 2.8rem;
	}
	h2 {
		font-size: 2.3rem;
	}
	h3 {
		font-size: 1.8rem;
	}

	.secondary-header {
		height: 400px;
	}

	.contact-list {
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}

	.article-list {
		grid-gap: 4rem;

		 img {
			 margin-bottom: 1.5rem;
		 }
	}

	.galerie {
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	}
	.news-gallery {
		.galerie {
			grid-template-columns: 1fr 1fr 1fr 1fr;
		}
	}

	.about-page {
		.wrote-about-us {
			grid-template-columns: 1fr 1fr 1fr;
		}
	}

	.event-sections {
		grid-template-columns: 1fr 1fr 1fr;
	}

	article {
		.badgelist {
			display: flex;
		}
	}

	.hopman-numbers-list {
		li {
			svg {
				max-width: 90px;
				max-height: 90px;
			}

			h4 {
				font-size: 2.7rem;

				small {
					font-size: 1.2rem;
				}
			}
		}
	}
}

@include media-breakpoint-up(xlg) {
	.event-sections {
		.event-gallery {
			grid-row-start: 1;
			grid-row-end: 2;
		}
	}

	.upcoming-events {
		.halfmarathon, .triathlon, .advent {
			section {
				padding: 2.5rem;
			}
		}
	}
}

@include media-breakpoint-up(xxxl) {

	.page-section {
		padding: 4rem 0;
		margin-bottom: 4rem;
	}

	.main-header {
		height: 700px;
	}
	.secondary-header {
		height: 450px;
	}
	.upcoming-events {
		margin-top: 570px;
	}
}
