@include media-breakpoint-up(sm) {

}

@include media-breakpoint-up(md) {

	.latest-news {
		.container {
			position: relative;
		}

		.archive-link {
			margin-bottom: unset;
			position: absolute;
			right: 1rem;
			top: 1rem;
		}
	}

	.article-list {
		grid-template-columns: 1fr 1fr;
	}

	.sponsor-list {
		grid-template-columns: 1fr 1fr 1fr;
	}

}

@include media-breakpoint-up(lg) {
	.main-header {
		position: absolute;
		height: 700px;
		z-index: 0;
	}

	.secondary-header {
		margin-bottom: 4rem;
	}

	.navbar {
		background: unset;
	}

	.navbar-bg {
		background: $white;
		box-shadow: 0 0 1px 1px rgba($gray-100, 8%);

		.navbar-brand img {
			max-height: 60px;
		}
		.nav-link {
			color: $darkgray !important;
			font-size: 1rem;

			&:hover {
				color: $gray-100 !important;
				background: $primary;
			}
		}
	}


	.upcoming-events {
		margin-top: 570px;
		grid-template-columns: 1fr 1fr 1fr;
		grid-gap: 0;

		header {
			position: absolute;
			left: 15px;
			top: -80px;
			padding: 15px 30px;
			background: $primary;
			color: $white;

			h1 {
				font-size: 45px;
				line-height: 45px;
				margin: 0;
			}
		}

		.triathlon {
			background-color: lighten($gray-100, 5%);
		}

		.halfmarathon, .triathlon, .advent {
			overflow: hidden;

			a {
				img {
					filter: brightness(85%);
					transition: all .25s ease-in-out;
				}

				&:hover img {
					filter: brightness(105%);
				}
			}

			img {
				max-height: unset;
				height: 260px;
			}
		}
	}

	.article-list {
		grid-template-columns: 1fr 1fr 1fr;
		grid-gap: 2rem;
	}

	.new-page {
		.new-container {
			padding: 2.5rem;

			footer {
				a {
					img {
						filter: brightness(85%);
						transition: all .25s ease-in-out;
					}

					&:hover {
						text-decoration: unset;

						img {
							filter: brightness(105%);
						}
					}
				}
			}
		}
	}

	.sponsor-list {
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	}

	.hopman-numbers-list {
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}

	.latest-news, .sponsors, .hopman-numbers {
		padding: 4rem 0;
		margin-top: 4rem;
		margin-bottom: 4rem;
	}
}

@include media-breakpoint-up(xl) {
	.article-list {
		grid-gap: 4rem;
	}
}
